DISCORD_TOKEN=YOUR_NEW_TOKEN
DISCORD_GUILD_ID=YOUR_ID

# Discord channel: bot-test-environment
INTERNSHIP_CHANNEL_ID=1551659923719594106

BOT_OWNER_ID=YOUR_BOT_OWNER_ID

SEND_STARTUP_TEST_MESSAGE=false

INTERNSHIP_CRON_SCHEDULE=0 8 * * *
INTERNSHIP_TIMEZONE=America/Chicago
RUN_ON_STARTUP=true

INTERNSHIP_REPO_OWNER=SimplifyJobs
INTERNSHIP_REPO_NAME=Summer2027-Internships
INTERNSHIP_REPO_BRANCH=dev
INTERNSHIP_REPO_PATH=.github/scripts/listings.json

GITHUB_TOKEN=YOUR_GITHUB_TOKEN
