DISCORD_TOKEN=YOUR_NEW_TOKEN
DISCORD_GUILD_ID=YOUR_ID

# Discord channel: brothers-off-topic
INTERNSHIP_CHANNEL_ID=1491514953499414610

BOT_OWNER_ID=YOUR_BOT_OWNER_ID

SEND_STARTUP_TEST_MESSAGE=false

INTERNSHIP_CRON_SCHEDULE=0 8 * * *
INTERNSHIP_TIMEZONE=America/Chicago
RUN_ON_STARTUP=true

INTERNSHIP_REPO_OWNER=vanshb03
INTERNSHIP_REPO_NAME=Summer2027-Internships
INTERNSHIP_REPO_BRANCH=dev
INTERNSHIP_REPO_PATH=README.md

GITHUB_TOKEN=